<section class="mt-18 main-slider">

  <owl-carousel-o [options]="mainOption">
    <ng-template carouselSlide>
      <img src="/images/ms-1.avif" class="w-full" alt="">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/ms-2.avif" class="w-full" alt="">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/ms-3.avif" class="w-full" alt="">
      
    </ng-template>
        <ng-template carouselSlide>
      <img src="/images/ms-4.avif" class="w-full" alt="">
      
    </ng-template>
  </owl-carousel-o>

</section>