<section>
  <div class=" mx-auto mt-25 w-[85%] ">
    <p class="text-gray-500">{{"categories.Item_market"|translate}}</p>
    <h2 class="text-3xl font-bold">{{"categories.title"|translate}}</h2>


    <div class="parent m-4  grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      @for (data of CategorieData | paginate: { id: 'foo',
      itemsPerPage: pageSize,
      currentPage: p,
      totalItems: total }; track $index) {


      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm">
        <a href="#">
          <img class="rounded-t-lg" [src]="data.image" [alt]="data.name" class="w-full h-[250px]" />
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-center">{{data.name}}</h5>
          </a>


        </div>
      </div>


      }

      <!-- <pagination-controls id="foo" (pageChange)="getAllcategory($event)">
      </pagination-controls> -->
    </div>
  </div>
  
</section>