<div class="section mt-25 mb-20">
  <h2 class="text-center text-blue-900 font-bold text-4xl pb-10 pt-3">{{"login.title"|translate}} </h2>

  <form class="max-w-lg mx-auto" [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="relative z-0 w-full mb-6 group">
      <input
        formControlName="email"
        type="email"
        name="floating_email"
        id="email"
        class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
      />
      <label
        for="email"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Email
      </label>

      @let formemail = loginForm.get('email');
      <!-- alert -->
      @if(formemail?.errors && formemail?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <span class="font-medium">Ensure that these requirements are met:</span>
          <ul class="mt-1.5 list-disc list-inside">
            @if(formemail?.getError('required')){
            <li>email is Required</li>
            } @if(formemail?.getError('email') ){
            <li>Enter valid email</li>
            }
          </ul>
        </div>
      </div>
      }
      <!-- alert -->
    </div>

    <div class="relative z-0 w-full mb-6 group">
      <input
        formControlName="password"
        type="password"
        name="floating_password"
        id="password"
        class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
      />
      <label
        for="password"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Password</label
      >
      @let formpass = loginForm.get('password');
      <!-- alert -->
      @if(formpass?.errors && formpass?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <span class="font-medium">Ensure that these requirements are met:</span>
          <ul class="mt-1.5 list-disc list-inside">
            @if(formpass?.getError('required')){
            <li>password is Required</li>
            } @if(formpass?.getError('pattern') ){
            <li>Enter valid password</li>
            }
          </ul>
        </div>
      </div>
      }

      <!-- alert -->
    </div>


    <a routerLink="/forgotPassword" class="cursor-pointer text-blue-700 text-center underline">{{"login.forgot"|translate}} </a>

    <button type="submit" class="btn mx-auto">
      {{"login.button"|translate}} @if(isloading){
      <span><i class="fa-solid fa-spinner animate-spin"></i></span>
      }
    </button>
    @if(MsgError){

    <div
      class="flex p-4 mt-4 mb-4 text-sm text-red-800 rounded-lg bg-red-300 text-white"
      role="alert"
    >
      <svg
        class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
        />
      </svg>
      <span class="sr-only">Danger</span>
      <div>
        <span class="text-center font-medium">{{ MsgError }}</span>
      </div>
    </div>
    }
  </form>
</div>
